asgiref==3.5.2
cement==2.8.2
certifi==2022.9.24
charset-normalizer==2.0.12
Django==4.1.3
django-environ==0.10.0
gunicorn==20.1.0
idna==3.4
jmespath==0.10.0
pathspec==0.9.0
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2022.6
urllib3==1.26.13
