{%load static%}

<footer>
  <hr><br><br>
    <div class="section-1">
        <img src="{%static 'media/02.jpeg' %}" alt="">

        <div>
            <h2>About Me</h2>
            <p>I am Miracle Godwin Chibuzor, a software developer and Graduate of Marine Engineering River State University,with loads of appetite for trying out new stuff related to technology with humanity at my core and solution/focus driven.. </p>
            <br><br><p><strong>Tel: </strong>+234-9056223795,+234-9086047180</p>
            <br><p><strong>Email: </strong>miraclegodwin67@gmail.com</p>
        </div>
    </div><br><br><hr><br>

    <p>Godwynn.io &copy;{{year}}</p>

</footer>